/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
/* wildcard */
* {
    padding: 0;
    margin: 0;
    border: none;
}
/* body */
body {
    font-family: Roboto, sans-serif;
    background-color: rgba(72, 60, 50, 0.8);
    color: #fff;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}
/* header */
#logo {
    font-size: xx-large;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
}
/* nav links */
a {
    text-decoration: none;
    color: white;
}

#menu {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

li {
    font-size: x-large;
    font-family: Montserrat, sans-serif;
    display: inline;
}

.nav {
    margin-right: 40px;
}

#menu a:hover{
    color: #228b22;
}
/* hero image */
#hero-image {
    background: url(../images/lake-image.jpeg) no-repeat center center;
    height: 600px;
    width: 100%;
    clear: both;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}
/* hero text */
#hero-text {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: large;
    margin: 0 auto;
}

#text-background {
    background-color: rgba(0, 0, 0, 0.6);
}

hr {
    border-top-style: dotted;
    border-color: #228b22;
    width: 10%;
    margin: 75px auto;
    border-width: 10px;
}
/* zoom out effect on hero image */
@keyframes hero-zoom {
    from{
        transform: scale(.9);
    }
    to{
        transform: scale(1);
    }
}
/* club ethos */
#club-ethos {
    height: 400px;
    width: 100%;
}

#welcome {
    text-align: center;
    font-size: x-large;
    margin-bottom: 60px;
}

#why-left-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-left {
    float: left;
    width: 40%;
    padding-left: 40px;
    letter-spacing: 2px;
    font-size: large;
}

#why-right-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-right {
    float: right;
    width: 40%;
    padding-right: 40px;
    letter-spacing: 2px;
    font-size: large;
    text-align: right;
}
/* hiking trails */
#hiking-routes {
    height: 400px;
    width: 100%;
}

#hiking-heading {
    text-align: center;
}