/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* wildcard */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */
body {
    font-family: Roboto, sans-serif;
    background-color: rgba(72, 60, 50, 0.8);
    color: #fff;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

p {
    font-size: large;
}

/* header */
#logo {
    font-size: xx-large;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
}


/* nav links */
a {
    text-decoration: none;
    color: #fff;
}

#menu {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

li {
    font-size: x-large;
    font-family: Montserrat, sans-serif;
    display: inline;
}

.nav {
    margin-right: 40px;
}

#menu a:hover{
    color: #228b22;
}

/* media query */
@media only screen and (max-width: 750px) {
    #logo {
        padding-left: 0px;
        text-align: center;
        float: none;
    }

    .nav {
        margin-right: 0px;
    }

    #menu {
        float: none;
        margin-top: 20px;
    }

    li{
        width: 32%;
        position: relative;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* hero image */
#hero-image {
    background: url(../images/lake-image.jpeg) no-repeat center center;
    height: 600px;
    width: 100%;
    clear: both;
    background-size: cover;
}

/* hero text */
#hero-text {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: large;
    margin: 0 auto;
}

#text-background {
    background-color: rgba(0, 0, 0, 0.6);
}

/* media query */
@media only screen and (max-width: 480px) {
    #hero-image-holder {
        padding-top: 25px;
    }
    #hero-text {
        padding-top: 150px;
    }
    #hero-text h2, #hero-text h3 {
        padding: 10px;
    }
}

/* club ethos section */
#club-ethos {
    height: auto;
    width: 100%;
}

.section-heading {
    text-align: center;
    font-size: x-large;
    margin: 80px 0;
    width: 100%;
    clear: both;
}

#why-left-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-left {
    float: left;
    width: 40%;
    padding-left: 40px;
    letter-spacing: 2px;
    margin-bottom: 100px;
}

#why-right-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-right {
    float: right;
    width: 40%;
    padding-right: 40px;
    letter-spacing: 2px;
    text-align: right;
}

/* media query */
@media only screen and (max-width: 480px) {
    #why-left {
        float: none;
        width: 80%;
        text-align: center;
        margin-bottom: 80px;
    }

    #why-left-heading {
        text-align: center;
    }

    #why-right-heading {
        text-align: center;
    }

    #why-right {
        float: none;
        width: 80%;
    }

    #why-right p {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #why-left-heading {
        text-align: center;
    }

    #why-right-heading {
        text-align: center;
    }

    #why-left {
        float: none;
        width: 80%;
        margin: 40px auto;
        padding-left: 0px;
        text-align: center;
    }

    #why-right {
        float: none;
        width: 80%;
        margin: 60px auto;
        padding-right: 0px;
        text-align: center;
    }
}

/* hiking trails section */
#hiking-routes {
    height: auto;
    width: 100%;
}

#trails {
    float: left;
    width: 40%;
    padding-left: 40px;
    letter-spacing: 2px;
}

#trail-img {
    float: right;
    width: 50%;
    padding-right: 40px;
}

img {
    border-radius: 10%;
    height: auto;
    width: 100%;
    border: 2px solid #228b22;
}

.trails-about {
    margin-top: 20px;
    margin-bottom: 40px;
}

.trails-about:last-of-type {
    margin-bottom: 100px;
}

.trails-heading {
    border-bottom: 4px solid #228b22;
}

/* media query */
@media only screen and (max-width: 950px) {
    #trails {
        float: none;
        width: 80%;
        padding: 0px;
        margin: 0 auto;
    }

    .trails-heading {
        text-align: center;
        margin-bottom: 50px;
    }

    .trails-about {
        text-align: center;
    }

    #trail-img {
        float: none;
        width: 90%;
        margin: auto;
        padding: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    #trail-img {
        margin-top: 100px;
    }
}

/* timetable */
#timetable {
    height: auto;
    width: 100%;
}

.table-content {
    border-collapse: collapse;
    margin: 30px auto;
    font-size: large;
    width: 30%;
    box-shadow: 0 0 20px #185228;
    height: 300px;
  }
  
  .table-content thead tr {
    background-color: #228b22;
    text-align: left;
  }
  
  .table-content th {
    padding: 15px 20px;
  }

  .table-content td {
    padding: 15px 20px;
  }
  
  .table-content tbody tr {
    border-bottom: 2px solid #185228;
  }
  
  .table-content tbody tr:last-of-type {
    border-bottom: 2px solid #228b22;
  }

/* media query */
@media only screen and (max-width: 480px) {
    .table-content {
        font-size: small;
    }
}

/* form section */
#form-section {
   margin-top: 100px;
   text-align: center;
}

label {
    font-size: large;
}

#form-section > h2 {
    margin-bottom: 40px;
}

form {
    background-color: #228b22;
    width: 50%;
    height: 380px;
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: 5px 10px 5px 10px #185228;
    padding-top: 20px;
}

.text-input {
    background-color: #fff;
    width: 50%;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: large;
}

.radio-input {
    margin-top: 20px;
    margin-right: 15px;
}

.submit-btn {
    font-size: x-large;
    background-color: #fff;
    color: #228b22;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #185228;
    color: #fff;
    cursor: pointer;
}

/* media query */
@media only screen and (max-width: 950px) {
    label {
        display: block;
    }

    form {
        width: 80%;
        height: auto;
    }

    .text-input {
        width: 80%;
        text-align: center;
    }

    .radio-input {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .text-input {
        height: 30px;
        font-size: medium;
    }

    .radio-input {
        margin-top: 10px;
        margin-right: 0px;
    }

    .submit-btn {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/* google map */
.map-wrapper {
    text-align: center;
    margin-top: 100px;
}

.google-map {
    width: 80%;
    border-radius: 10px;
}

/* media query */
@media only screen and (max-width: 480px) {
    .google-map {
        height: 300px;
    }
}

/* footer */
footer {
    margin: 100px auto 0 auto;
    width: 100%;
}

#socials {
    text-align: center;
}

#socials i {
    font-size: xx-large;
    margin: 50px;
}

#socials i:hover{
    color: #228b22;
}