/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* wildcard */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */
body {
    font-family: Roboto, sans-serif;
    background-color: rgba(72, 60, 50, 0.8);
    color: #fff;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

p {
    font-size: large;
}

/* header */
#logo {
    font-size: xx-large;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
}

/* nav links */
a {
    text-decoration: none;
    color: #fff;
}

#menu {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

li {
    font-size: x-large;
    font-family: Montserrat, sans-serif;
    display: inline;
}

.nav {
    margin-right: 40px;
}

#menu a:hover{
    color: #228b22;
}

/* hero image */
#hero-image {
    background: url(../images/lake-image.jpeg) no-repeat center center;
    height: 600px;
    width: 100%;
    clear: both;
    background-size: cover;
}

/* hero text */
#hero-text {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: large;
    margin: 0 auto;
}

#text-background {
    background-color: rgba(0, 0, 0, 0.6);
}

/* club ethos */
#club-ethos {
    height: 400px;
    width: 100%;
}

#welcome {
    text-align: center;
    font-size: x-large;
    margin: 40px 0;
}

#why-left-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-left {
    float: left;
    width: 40%;
    padding-left: 40px;
    letter-spacing: 2px;
}

#why-right-heading {
    margin-bottom: 50px;
    border-bottom: 4px solid #228b22;
    padding-bottom: 10px;
}

#why-right {
    float: right;
    width: 40%;
    padding-right: 40px;
    letter-spacing: 2px;
    text-align: right;
}

/* hiking trails */
#hiking-routes {
    height: 400px;
    width: 100%;
}

#hiking-heading {
    text-align: center;
    margin-bottom: 40px;
}

#trail-one {
    float: left;
    width: 40%;
    padding-left: 40px;
    letter-spacing: 2px;
}

#trail-one-img {
    float: right;
    width: 50%;
}

img {
    border-radius: 10%;
    height: 450px;
    border: 2px solid #228b22;
}

.trails-about {
    margin-top: 20px;
    margin-bottom: 40px;
}

.trails-heading {
    border-bottom: 4px solid #228b22;
}

/* form section */
#form-section {
   margin-top: 250px;
   text-align: center;
}

label {
    font-size: x-large;
}

#form-section > h2 {
    margin-bottom: 40px;
}

form {
    background-color: #228b22;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: 5px 10px 5px 10px #185228;
}

.text-input {
    background-color: #fff;
    width: 50%;
    height: 20px;
    margin: 20px 0 20px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.submit-btn {
    font-size: x-large;
    background-color: #fff;
    color: #228b22;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #185228;
    color: #fff;
    cursor: pointer;
}


/* footer */
footer {
    margin: 100px auto 0 auto;
    width: 100%;
}

#social-header {
    text-align: center;
}

#socials {
    text-align: center;
}

#socials i {
    font-size: xx-large;
    margin: 50px;
}

#socials i:hover{
    color: #228b22;
}